<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
              <span 
              *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched" 
              class="help-block">Please enter a valid username!</span>
          </div>

          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
              <span 
              *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" 
              class="help-block">Please enter a valid email!</span>
          </div>

          <div class="form-group">
            <label for="favoriteNumbe">favoriteNumbe</label>
            <input
              type="number"
              id="favoriteNumbe"
              formControlName="favoriteNumbe"
              class="form-control">
              <span 
              *ngIf="!signupForm.get('favoriteNumbe').valid && signupForm.get('favoriteNumbe').touched" 
              class="help-block">Please enter a valid favoriteNumbe!</span>
          </div>

          
          <div class="form-group">
            <label for="birthday">birthday</label>
            <input
              type="datetime-local"
              id="birthday"
              formControlName="birthday"
              class="form-control">
              <span 
              *ngIf="!signupForm.get('birthday').valid && signupForm.get('birthday').touched" 
              class="help-block">Please enter a valid birthday!</span>
          </div>

          <div class="form-group">
            <label for=" numberOfreinds"> number Of freinds</label>
            <input
              type="number"
              id="numberOfreinds"
              formControlName="numberOfreinds"
              class="form-control">
              <span 
              *ngIf="!signupForm.get('numberOfreinds').valid && signupForm.get('numberOfreinds').touched" 
              class="help-block">Please enter a valid number</span>
          </div>


          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input
                type="radio"
                formControlName="gender"
                [value]="gender">{{ gender }}
            </label>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
</div>
<hr>
<p>Search for favoriteNumber, anyone with at favoritenumber lower shows up</p>
<p>(psssst use 1/2/3)</p>
<input type="text" [(ngModel)]="searchFilter">
<hr>
<div claas="row">
  <div class="col-xs-10">

      <ul class="list-group"> 
          <li 
          class="list-group-item" 
          style="cursor: pointer"
          *ngFor="let user of users | myFilter: searchFilter:'favoriteNumbe' "
          >

          {{user.username | lowercase}} - {{user.email }} - {{user.gender | uppercase}} - {{user.favoriteNumber }} - {{user.birthday | date: 'fullDate' | uppercase }} - {{user.numberOfreinds}}

      </ul>
  </div>
</div>